/*

COLORS
#2E2E2E
#787586
#ACA7CB
#DCA8FF
#c774ff light mode drop shadow
#ECECEC

*/

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #2e2e2e; */
  background: #000000;
  background: linear-gradient(0deg, #000000 0%, #1e1e1e 50%, #2e2e2e 100%);
  color: #ececec;
  line-height: 1;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

html {
  font-size: 62.5%; /* percentage of user's font-size setting to achieve: font-size: 10px; so 1rem = 10px */
}

/* HEADER / NAV */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #2e2e2e; */
  height: 9.6rem;
  padding: 0 9.6rem;
  /* border-bottom: 1px solid #3d3d3d; */
}

.logo {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.main-nav-list {
  display: flex;
  gap: 6.4rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #ececec;
  font-size: 2.4rem;
  font-weight: 300;
  transition: all 0.5s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #dca8ff;
}

/* HERO SECTION */

#hero {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 9.6rem 5rem 9.6rem;
  min-height: 100vh;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;
  max-width: 140rem;
  margin: 0 auto;
  text-align: center;
}

.hero-img {
  border-radius: 50%;
  filter: drop-shadow(0 0 0.8rem #dca8ff);
}

.hero-heading {
  font-size: 2.4rem;
  font-weight: 300;
}

.hero-description {
  font-size: 4.4rem;
  letter-spacing: -0.5px;
}

.hero-down-arr {
  margin-top: 9.6rem;
  width: 3.6rem;
  height: 3.6rem;
}

.hero-socials {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.social-icon {
  width: 3.6rem;
  height: 3.6rem;
  transition: all 0.5s;
}

.social-icon:hover,
.social-icon:active {
  filter: drop-shadow(0 0 0.5rem #dca8ff);
}

/* PROJECTS SECTION */

.projects {
  /* width: 130vw; */
  /* min-height: 80vh; */
}

.projects-container {
  display: flex;
  gap: 25rem;
  padding: 9.6rem;
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.heading-tertiary {
  font-size: 4.4rem;
  font-weight: 500;
}

.project-description {
  font-size: 2.2rem;
  font-weight: 300;
}

/* SKILLS SECTION */

.skills {
  margin-top: 9.6rem;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 140rem;
  margin: 0 auto;
  padding: 9.6rem;
}

.skills-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 2rem;
}

.skill-item {
  font-size: 2.2rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 1rem;
}

.skill-item.html {
  background-color: #E44B20;
  /* filter: drop-shadow(0 0 0.5rem #F06423); */
  color: #000000;
}

.skill-item.css {
  background-color: #254CE3;
  /* filter: drop-shadow(0 0 0.5rem #2864F0); */
  color: #ffff;
}

.skill-item.javascript {
  background-color: #DCB600;
  /* filter: drop-shadow(0 0 0.5rem #F6D000); */
  color: #000000;
}

.skill-item.react {
  background-color: #00D7FE;
  /* filter: drop-shadow(0 0 0.5rem #39E1FF); */
  color: #000000;
}

.skill-item.basic {
  background-color: #c774ff;
  /* filter: drop-shadow(0 0 0.5rem #dca8ff); */
  color: #000000;
}

.skills-description h2 {
  font-size: 4.4rem;
  font-weight: 400;
}